a{color:#000;text-decoration:underline;font-weight:800}.container.svelte-159fdzt{font-family:IBM Plex Mono,serif;max-width:1000px;margin:1rem auto;padding:1rem}.nametag.svelte-159fdzt{font-size:2rem}
